<!DOCTYPE html>
<html>
<head>
  <title>ContactMangement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<ul class="nav nav-tabs pull-right">
				<li><a href="/">ALL CONTACTS</a></li>
				<li><a href="http://localhost:3000/contacts/new">New Contact</a></li>
			</ul>

			<div class="clearfix"></div>
		</header>
		<%= yield %>
	</div>
</body>
</html>